/* Hide mobile navbar by default */
#mobile-navbar {
  display: none;
}

/* Show mobile navbar and hide desktop navbar on small screens */
@media (max-width: 639px) {
  #desktop-navbar {
    display: none;
  }
  #desktop-spacer {
    display: none;
  }
  #mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}
